#include "nidl_<%= data.name.toLowerCase() %>.h"

void NIDL_<%= data.name %>::Init(Napi::Env env, Napi::Object exports) {
  Napi::Function js_constructor =
      DefineClass(env, "<%= data.name %>",
          {
            InstanceAccessor("world", &NIDL_<%= data.name %>::GetterWorld, nullptr),
          });

  exports.Set("<%= data.name %>", js_constructor);
}

NIDL_Hello::NIDL_<%= data.name %>(const Napi::CallbackInfo& info)
    : Napi::ObjectWrap<NIDL_<%= data.name %>>(info) {
  impl_.reset(new <%= data.name %>());
}

Napi::Value NIDL_<%= data.name %>::GetterWorld(const Napi::CallbackInfo& info) {
  return Napi::String::New(info.Env(), impl_->getWorld());
}

