#ifndef EXAMPLES_HELLO_NIDL_H_
#define EXAMPLES_HELLO_NIDL_H_

#include <memory>
#include <napi.h>

#include "../<%= data.name.toLowerCase() %>.h"

class NIDL_<%= data.name %> : public Napi::ObjectWrap<NIDL_<%= data.name %>> {
 public:
  static void Init(Napi::Env env, Napi::Object exports);

  explicit NIDL_<%= data.name %>(const Napi::CallbackInfo& info);

  Napi::Value GetterWorld(const Napi::CallbackInfo& info);

 private:
  std::unique_ptr<<%= data.name %>> impl_;
};

#endif  // EXAMPLES_HELLO_NIDL_H_
